.productList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-end;
  max-width: var(--contentMaxWidth);
  margin: 0 auto;
  padding: 0 var(--miniumHorizontalPadding) 1.5rem var(--miniumHorizontalPadding);

  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(18rem, 100%), 1fr));
    gap: 1rem;
    width: 100%;
  }
}
