.body1 {
  font-weight: 700;
  font-size: 1rem;
}

.body2 {
  font-weight: 700;
  font-size: 0.875rem;
}

.subtitle1 {
  font-weight: 700;
  font-size: 0.875rem;
}

.subtitle2 {
  font-weight: 500;
  font-size: 0.875rem;
}

.button {
  font-weight: 700;
  font-size: 1rem;
}

.navigation {
  font-weight: 500;
  font-size: 0.75rem;
}

.formField {
  font-weight: 500;
  font-size: 1rem;
}
