.header {
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 1.5rem;
  background-color: #fff;
  box-shadow: 0 0 8px rgb(0 0 0 / 15%);

  .boxBorder {
    border-bottom: 1px solid #cacaca;

    .centeredWrapper {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      max-width: var(--contentMaxWidth);
      margin: 0 auto;
      padding-right: var(--miniumHorizontalPadding);
      padding-left: var(--miniumHorizontalPadding);
    }

    .main {
      align-items: flex-end;
      justify-content: space-between;
      padding-top: 1rem;
      padding-bottom: 1rem;

      .homepageButton {
        background: unset;
        border: unset;
        outline-offset: 2px;
        cursor: pointer;

        .desktopLogo {
          display: none;
        }

        @media (min-width: 640px) {
          .mobileLogo {
            display: none;
          }

          .desktopLogo {
            display: block;
          }
        }
      }

      .cart {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: baseline;

        .badge {
          --size: 1rem;

          position: absolute;
          top: calc(var(--size) / -2);
          right: calc(var(--size) / -2);
          display: flex;
          align-items: center;
          justify-content: center;
          width: var(--size);
          height: var(--size);
          color: #fff;
          background-color: var(--primaryColor);
          border-radius: 100%;
        }
      }
    }

    .nav {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      color: #cacaca;

      .clickable {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
