@use './styles/base';
@use './styles/typography';
@use './styles/reset';

.productList {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
  margin: 0 auto;
  max-width: var(--contentMaxWidth);
  padding: 0px var(--miniumHorizontalPadding) 1.5rem var(--miniumHorizontalPadding);
  .list {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(18rem, 100%), 1fr));
  }
}
